<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-host-cloud.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body style="background-image: url('assets/images/banner-bg.jpg')">

<div class="container-fluid bg-light border ">
    <div class="row">
        <div class="col-lg-2 border-right">

                <h3><a class="nav-link" href="/home">Home
                    <span class="sr-only">(current)</span>
                </a></h3>

                <h3><a class="nav-link" href="/customer">Customer</a></h3>


                <h3><a class="nav-link" href="/services">Services</a></h3>


               <h3> <a class="nav-link" href="/employee">Employee</a></h3>

        </div>
        <div class="col-lg-10 pt-3 pb-3">

            <h5 style="text-align: center;color: #1e7e34"><a href="/services">List Service</a> </h5>
            <form action="/services">
                <div class="row">
                    <input class="form-control col-lg-9 m-lg-3" type="search" placeholder="Search by Service Name" aria-label="Search"
                           name="search">
                    <button class="btn btn-outline-success col-lg-2 m-lg-3" type="submit">Search</button>
                </div>
            </form>
            <div th:if="${message}" class="alert alert-warning" role="alert">
                <span th:text="${message}" style="color: red;text-align: center"></span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="table-success">
                        <th scope="col">#</th>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Area</th>
                        <th scope="col">Rent Type</th>
                        <th scope="col">Service Type</th>

                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        <th scope="col">View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="service,status : ${services}">
                        <th th:text="${status.count}"></th>
                        <td th:text="${service.serviceCode}"></td>
                        <td th:text="${service.serviceName}"></td>
                        <td th:text="${service.serviceArea}"></td>
                        <td th:text="${service.rentType.rentTypeName}"></td>
                        <td th:text="${service.serviceType.serviceTypeName}"></td>
                        <td><a th:href="@{/services/edit/__${service.serviceId}__ }">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a></td>
                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#exampleModal" th:onclick="|deleteService(${service.serviceId})|">
                                Delete
                            </button>
                        </td>
                        <td><a th:href="@{/services/view/__${service.serviceId}__ }">
                            <button type="button" class="btn btn-warning" >View</button>
                        </a></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <div style="display: inline-block;width: 80%;float: left">
                        <a class="btn btn-outline-success"
                           th:href="@{/services(page=${services.number - 1},search=${keyword})}"
                           th:if="${services.hasPrevious()}"> <span style="font-weight: bold"> < </span>
                        </a>
                        <span th:each="p : ${#numbers.sequence(0,services.totalPages -1)}"
                              th:if="${services.hasContent()}"><a class="btn btn-outline-success"
                                                                  th:href="@{/services(page=${p},search=${keyword})}" th:text="${p +1}"
                                                                  th:if="${(p >(services.number)-1)&&(p <(services.number+2))}"></a></span>
                        <a class="btn btn-outline-success"
                           th:href="@{/services(page=${services.number + 1},search=${keyword})}"
                           th:if="${services.hasNext()}">
                            <span style="font-weight: bold"> > </span>
                        </a>
                    </div>
                    <div style="display: inline-block;width: 20%">
                        <a href="/services/create">
                            <button type="button" class="btn btn-success m-2">Create New Service</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Additional Scripts -->
<script src="assets/js/custom.js"></script>
<script src="assets/js/owl.js"></script>
<script src="assets/js/accordions.js"></script>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-item">
                    <div class="footer-heading">
                        <h2>About Us</h2>
                    </div>
                    <p>Host Cloud is provided by TemplateMo for free of charge. Anyone can download and use this CSS Bootstrap template for commercial purposes.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-item">
                    <div class="footer-heading">
                        <h2>Hosting Plans</h2>
                    </div>
                    <ul class="footer-list">
                        <li><a href="#">Basic Cloud 5X</a></li>
                        <li><a href="#">Cloud VPS 10X</a></li>
                        <li><a href="#">Advanced Cloud</a></li>
                        <li><a href="#">Custom Designs</a></li>
                        <li><a href="#">Special Solutions</a></li>
                    </ul>
                </div>
            </div>


            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-item">
                    <div class="footer-heading">
                        <h2>Useful Links</h2>
                    </div>
                    <ul class="footer-list">
                        <li><a href="#">Cloud Hosting Platform</a></li>
                        <li><a href="#">Light Speed Zone</a></li>
                        <li><a href="#">Content Delivery Network</a></li>
                        <li><a href="#">Customer Support</a></li>
                        <li><a href="#">Latest News</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="footer-item">
                    <div class="footer-heading">
                        <h2>More Information</h2>
                    </div>
                    <ul class="footer-list">
                        <li>Phone: <a href="#">010-020-0560</a></li>
                        <li>Email: <a href="#">mail@company.com</a></li>
                        <li>Support: <a href="#">support@company.com</a></li>
                        <li>Website: <a href="#">www.company.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="sub-footer">
                    <p>Copyright &copy; 2020 Cloud Hosting Company
                        - Designed by <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>