<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Provinces</title>
</head>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Việt Nam</a>
<form>
  Search by first name:
  <input name="search" type="text"/>
  <input type="submit" value="Search"/>
</form><br/>
<a href="/create-customer" th:text="#{create.title}"></a>
<h1 th:text="#{list.title}">Customers List</h1>
<table border="1">
  <tr>
    <th th:text="#{first.name}">First name</th>
    <th th:text="#{last.name}">Last name</th>
    <th th:text="#{province.en}">Province</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <th:block th:each="customer : ${customers}">
    <tr>
      <td th:text="${customer.firstName}"></td>
      <td th:text="${customer.lastName}"></td>
      <td th:if="${customer.province}" th:text="${customer.province.name}"></td>
      <td th:unless="${customer.province}"></td>
      <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
      <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
    </tr>
  </th:block>
</table>
<div>
  <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
  <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
  <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>