<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            margin-bottom: 10px ;
        }

        span{
            color: red;
        }
    </style>
</head>
<body>
<form th:object="${userDto}" th:action="/validateUser" method="post">
    <div>
        <label>First Name:</label>
        <input th:field="*{firstName}" type="text">
        <span th:if="${#fields.hasErrors('firstName')}" th:error="*{firstName}"></span>
    </div>

    <div>
        <label>Last name:</label>
        <input th:field="*{lastName}" type="text">
        <span th:if="${#fields.hasErrors('lastName')}" th:error="*{lastName}"></span>
    </div>

    <div>
        <label>Phone:</label>
        <input th:field="*{phone}" type="text">
        <span th:if="${#fields.hasErrors('phone')}" th:error="*{phone}"></span>
    </div>

    <div>
        <label>Age:</label>
        <input th:field="*{age}" type="number">
        <span th:if="${#fields.hasErrors('age')}" th:error="*{age}"></span>
    </div>

    <div>
        <label>Email:</label>
        <input th:field="*{email}" type="text">
        <span th:if="${#fields.hasErrors('email')}" th:error="*{email}"></span>
    </div>

    <div>
        <input type="submit" value="submit">
    </div>
</form>
</body>
</html>