<div class="header sticky" style="margin-bottom: 0; background-color: #1A94FF">
  <header id="header" class="">
    <div id="header_main">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-8">
            <!--logo-->
            <span class="pull-left">
                            <a href="/" class="logo">
                             <img [src]="defaultImgUrl" style="width: 285px; height: 79px" alt="">
                            </a>
                        </span>
            <!-- end logo -->
          </div>
          <div class="col-lg-6 col-md-5 col-sm-4 hidden-xs">
            <!-- Search -->
            <!--            <div class="search_box">-->
            <!--              <div class="search_wrapper">-->
            <!--                <input [(ngModel)]="keySearch" type="text">-->
            <!--                <button (click)="search()">Tim Ngay</button>-->
            <!--              </div>-->
            <!--            </div>-->
            <div class="search_box">
              <div class="search_wrapper">
                <input [(ngModel)]="keySearch" type="text" name="search" class="index_input_search" id="txtsearch"
                       onblur="if(this.value=='')this.value='Nhập từ khóa tìm kiếm...'"
                       onfocus="if(this.value=='Nhập từ khóa tìm kiếm...')this.value=''"
                       value="Nhập từ khóa tìm kiếm...">
                <button (click)="search()" class="btn_search_submit btn " type="button" id="btnsearch">
                  <span>Tìm Kiếm</span></button>
              </div>
            </div>
            <!-- End Search -->
          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <!-- Cart -->
            <div class="cart_header" *ngIf="showCartBoard">
              <a title="Giỏ hàng" [routerLink]="['/admin/cart']">
                <span class="cart_header_icon"></span>
                <span class="box_text">
<!--                                        <strong class="cart_header_count"; style="color: red">Giỏ hàng</strong>-->
                  <strong class="cart_header_count" style="color: #d85909">{{numberOfCart}}</strong>
                  <!--                                        <span class="cart_price">hiện tại</span>-->
                                    </span>
              </a>
              <div class="cart_clone_box">
                <div class="cart_box_wrap hidden">
                  <div class="cart_item original clearfix">
                    <div class="cart_item_image"></div>
                    <div class="cart_item_info">
                      <p class="cart_item_title"><a href="" title=""></a></p>
                      <span class="cart_item_quantity"></span>
                      <span class="cart_item_price"></span>
                      <span class="remove"></span>
                    </div>
                  </div>
                </div>
              </div>
              <!--              <div class="cart_header_top_box">-->
              <!--                <div class="cart_empty">Giỏ hàng hiện tại của bạn là: <span style="color: #d85909">{{numberOfCart}} sản phẩm </span>-->
              <!--                </div>-->
              <!--              </div>-->
            </div>
            <!-- End Cart -->
            <!-- Account -->
            <div class="user_login">
              <div class="user_login_icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" routerLink="/login" color="white"
                     fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                  <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>

                </svg>
                <!--                <a [routerLink]="['/login/']" style="color: white"></a>-->
              </div>
              <div class="box_text">
                <strong *ngIf="username!=null;else noUsername"
                        style="color: white;font-size: 18px">Hi {{username}}</strong>
                <ng-template #noUsername>
                  <strong></strong>
                </ng-template>
                <!--<span class="cart_price">Đăng nhập, đăng ký</span>-->
              </div>
              <div class="user_box">
                <ul *ngIf="username!=null ">
                  <li>
                    <a (click)="logout()">Đăng Xuất</a>
                  </li>
                  <!--                  <li>-->
                  <!--                    <a [routerLink]="['/admin/transaction/']">Lịch Sử Giao Dịch</a>-->
                  <!--                  </li>-->
                  <li>
                    <a>Đổi Mật Khẩu </a>
                  </li>
                  <li>
                    <a>Thông Tin Khách Hàng </a>
                  </li>

                </ul>
                <!--                <ng-template #nodata>-->
                <!--&lt;!&ndash;                  <ul>&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;                    <li><a [routerLink]="['/login/']">Đăng nhập</a></li>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;&lt;!&ndash;                    <li><a href="dang-ky.html">Đăng Ký</a></li>&ndash;&gt;&ndash;&gt;-->
                <!--&lt;!&ndash;                  </ul>&ndash;&gt;-->
                <!--                </ng-template>-->
              </div>
            </div>
            <!-- End account -->
          </div>
        </div>
      </div>
    </div>
  </header>

</div>
