<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
   Validate User
</h1>
<form th:action="@{/user/show}" method="post">
    <table th:object="${userObject}">
        <tr>
            <td>Nhập FirstName</td>
            <td><input type="text" th:field="*{firstName}"></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></td>
        </tr>
        <tr>
            <td>Nhập lastName</td>
            <td><input type="text" th:field="*{lastName}"></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>
        </tr>
        <tr>
            <td>Nhập email</td>
            <td><input type="text" th:field="*{email}"></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
        </tr>
        <tr>
            <td>Nhập tuổi</td>
            <td><input type="number" th:field="*{age}"></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
        </tr>
        <tr>
            <td>Nhập số điện thoại</td>
            <td><input type="text" th:field="*{phoneNumber}"></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit Form">
            </td>
        </tr>
    </table>

</form>
</body>
</html>