<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
<a href="/category/create">Create new category</a><br>
<a href="/list">Move to blog list</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<h1>Category list</h1>
<table border="1" style="margin: 0 auto">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="cate : ${categoryList}">
        <tr>
            <td th:text="${cate.categoryId}"></td>
            <td th:text="${cate.categoryName}"></td>
            <td><a th:href="@{/category/edit/__${cate.categoryId}__ }">Edit</a></td>
            <td><a th:href="@{/category/delete/__${cate.categoryId}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>