<section class="footer">
  <div class="row box-container justify-content-center px-0" style="font-family: Dancing script, cursive; font-size: 20px">
    <!--    <div class="box-container col-md-8 col-sm-12">-->

    <div class="box col-lg-3 col-md-4 col-sm-5">
      <h3>Chi nhánh</h3>
      <a href="#"> <i class="fas fa-arrow-right"></i> Hà Nội </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> Quảng Trị </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> Huế </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> Đà Nẵng </a>
    </div>

    <div class="box col-lg-3 col-md-4 col-sm-5">
      <h3>Kết nối</h3>
      <a href="https://www.facebook.com/codegymdanang/"> <i class="fab fa-facebook-f text-primary"></i> facebook </a>
      <a href="#"> <i class="fab fa-youtube" style="color: red"></i> youtube </a>
      <a href="#"> <i class="fab fa-instagram" style="color: #d71ad7"></i> instagram </a>
      <a href="#"> <i class="fab fa-tiktok" style="color: #7abaff"></i> tiktok </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-10 pt-3 div-content">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.7486098192107!2d108.20737595348163!3d16.07852989002556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421846431fd0fd%3A0x780138ba60fa3aa6!2zMjk1IE5ndXnhu4VuIFThuqV0IFRow6BuaCwgVGhhbmggQsOsbmgsIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZyA1NTAwMDA!5e0!3m2!1svi!2s!4v1636671158156!5m2!1svi!2s"
         height="250" style="border:0; padding-top: 2rem;width: 100%" allowfullscreen=""
        ></iframe>
    </div>
  </div>

  <div class="row" style="margin-top: 95px;">
    <div class="credit col-lg-12 col-sm-12" style="margin-top: 0; padding: 0;">
      <img src="assets/img/C0421G1-logos_transparent.png" height="240" width="260" alt="">
      <p style="color: #e3cc6f;">Thơm mềm 1 chạm, Gửi trọn đam mê!!!</p>
      <!--            C0421G1 hân hạnh được phục vụ!!!-->
    </div>
  </div>
    <audio autoplay>
      <source src="assets/img/audio_homepage.mp3" type="audio/mp3">
    </audio>
</section>


