<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/create}">Create new Song</a>
<div th:if="${msg}" th:text="${msg}"></div>
<table border="1px">
    <tr>
        <th>Id Song</th>
        <th>Name Song</th>
        <th>Name Singer</th>
        <th>Type Song</th>
        <th>Action Update</th>
    </tr>
    <tr th:each="item: ${musicList}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.singer}"></td>
        <td th:text="${item.type}"></td>
        <td><a th:href="@{/update/__${item.id}__}" >Edit</a></td>
    </tr>

</table>
</body>
</html>