<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

  </head>
  <body>
  <h3>Product</h3>
  <div class="notify">
    <div th:if="${success}">
      <span th:text="${success}"></span>
    </div>
  </div>
  <p>
    <a th:href="@{/product/create}">
      Add new product
    </a>
  </p>
  <table id="products">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Describe</th>
      <th>Producer</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row: ${products}">
      <td th:text="${row.name}"></td>
      <td th:text="${row.price}"></td>
      <td th:text="${row.describe}"></td>
      <td th:text="${row.producer}"></td>
      <td><a th:href="@{/product/{id}/edit(id=${row.id})}">edit</a></td>
      <td><a th:href="@{/product/{id}/delete(id=${row.id})}">delete</a> </td>
      <td><a th:href="@{/product/{id}/view(id=${row.id})}">view</a></td>

    </tr>
    </tbody>
  </table>
  <form action="#" th:action="@{/product/search/}" method="post" style="text-align: center">
    <h2>Search product name</h2><br>
    <input type="text" th:name="name" style="width: 250px" placeholder="Product name">
    <input type="submit" value="Search" style="width: 150px">
  </form>
  <footer th:replace="/layout :: footer"></footer>

  </body>
</html>
