<div class="container-fluid" style="margin-top: 80px; margin-bottom: -80px; min-height: 120vh">
  <div class="row ">
    <div class="col-lg-12 text-center " style="margin-top: 30px">
      <h1 class="my-color">Danh sách nhóm món</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <form class="row g-3">
        <div class="col-lg-4">
          <label for="code" class="form-label ml-2">Mã nhóm món:</label>
          <input type="text" id="code" class="form-control m-3" style="height: 40px" placeholder="vd: N01"
                 (change)="getCode($event)">
        </div>
        <div class="col-lg-4">
          <label for="date" class="form-label ml-2">Tên nhóm món:</label>
          <input type="text" id="date" class="form-control m-3 " style="height: 40px" placeholder="Vd: Coffe..."
                 (change)="getName($event)">
        </div>
        <div class="col-lg-4" style="margin-top: 39px">
          <button class="btn btn-warning m-3 " style="background-color: #eeee4e;height: 40px"
                  (click)="viewAllCategory(pageObj)">
            Tìm kiếm
          </button>
        </div>
      </form>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 pl-0">
      <button class="btn m-3" style="position: relative; color: black; background-color: #eeee4e;"
              (click)=openDialogCreate()>
        <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="24px" fill="#000000">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path
            d="M16 5v8c0 1.1-.9 2-2 2H8c-1.1 0-2-.9-2-2V5h10m4-2H4v10c0 2.21 1.79 4 4 4h6c2.21 0 4-1.79 4-4v-3h2c1.11 0 2-.89 2-2V5c0-1.11-.89-2-2-2zm-2 5V5h2v3h-2zm2 11H2v2h18v-2z"/>
        </svg>
        Thêm mới
      </button>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row mt-1">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

      <div class="table-responsive-lg">
        <table class="table table-hover table-dark text-center">
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã số nhóm</th>
            <th scope="col">Tên nhóm</th>
            <th scope="col">Chức năng</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let obj of categoryList, let i = index">
            <td scope="row">{{responsePage.pageable.pageNumber * responsePage.pageable.pageSize + i + 1}}</td>
            <td>{{obj.categoryCode}}</td>
            <td>{{obj.categoryName}}</td>
            <td>
              <button class="btn p-0 m-1 text-white" style=" width: 32px; height: 32px; background-color:#eeee4e"
                      title="Chỉnh sửa nhóm món" (click)="updateCategory(obj.categoryId)">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px"
                     viewBox="0 0 24 24" width="24px" fill="#000000">
                  <rect fill="none" height="24" width="24"/>
                  <path
                    d="M3,10h11v2H3V10z M3,8h11V6H3V8z M3,16h7v-2H3V16z M18.01,12.87l0.71-0.71c0.39-0.39,1.02-0.39,1.41,0l0.71,0.71 c0.39,0.39,0.39,1.02,0,1.41l-0.71,0.71L18.01,12.87z M17.3,13.58l-5.3,5.3V21h2.12l5.3-5.3L17.3,13.58z"/>
                </svg>
              </button>
              <button class="btn p-0 m-1" style="background-color:#eeee4e; width: 34px; height: 34px;"
                      data-toggle="modal" data-target="#exampleModal" title="Xoá nhóm món"
                      (click)="openDialogDelete(obj.categoryName,obj.categoryId)">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path
                    d="M15 16h4v2h-4zm0-8h7v2h-7zm0 4h6v2h-6zM3 18c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2V8H3v10zM14 5h-3l-1-1H6L5 5H2v2h12z"/>
                </svg>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <!--    phan trang-->
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <nav aria-label="Pagination">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" aria-label="Previous" style="background-color: #eeee4e" (click)="previousPage()">
              <svg xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24" width="24px" fill="#000000">
                <path
                  d="M7 6c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1s-1-.45-1-1V7c0-.55.45-1 1-1zm3.66 6.82l5.77 4.07c.66.47 1.58-.01 1.58-.82V7.93c0-.81-.91-1.28-1.58-.82l-5.77 4.07c-.57.4-.57 1.24 0 1.64z"/>
              </svg>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Next" style="background-color: #eeee4e">
              <span>{{responsePage.pageable.pageNumber + 1}}</span>
              <span>/</span>
              <span>{{responsePage.totalPages}}</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Next" style="background-color: #eeee4e" (click)="nextPage()">
                                <span aria-hidden="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24"
                                         width="24px" fill="#000000"><path
                                      d="M7.58 16.89l5.77-4.07c.56-.4.56-1.24 0-1.63L7.58 7.11C6.91 6.65 6 7.12 6 7.93v8.14c0 .81.91 1.28 1.58.82zM16 7v10c0 .55.45 1 1 1s1-.45 1-1V7c0-.55-.45-1-1-1s-1 .45-1 1z"/></svg>
                                </span>
            </a>
          </li>
          <li class="page-item ml-2">
            <div class="input-group">
              <input type="number" min="1" max="{{responsePage.totalPages}}" class="form-control"
                     placeholder="Tới trang..." style="width: 100px;" #pageInput>
              <div class="input-group-append">
                <button class="btn input-group-text" style="background-color: #eeee4e"
                        (click)="getPage(pageInput.value)">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path
                      d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
                  </svg>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>


