<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale =1, shrink-to-fit=no" >
    <title>Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
<body>
<p>
    <h1 style="text-align: center"> <a href="/shop">Back List Shop</a></h1>
</p>

<div class="container bg-primary">
    <div class="row ">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="productMap:${cart.productMap}">
                <td th:text="${productMap.key.name}"></td>
                <td>
                    <img th:src="${productMap.key.image} " style="width: 200px" height="200px" alt="">
                </td>
                <td th:text="${productMap.value}"></td>
                <td th:text="${productMap.key.price}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>



<script src="../../static/jquery/jquery-3.5.1.min.js"></script>
<script src="../../static/jquery/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script></body>
</html>