<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>-->
<!--<body>-->
<!--<p>-->
<!--    <h1 style="text-align: center"><a href="/shop">Shop</a><br>-->
<!--    <a href="/shopping-cart">Your cart</a></h1>-->
<!--</p>-->
<!--<h1 style="color: red">Product Detail</h1>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-4">-->
<!--            <div class="card">-->
<!--                <img th:src="${product.image}" class="card-img-top" alt="...">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title" th:text="Code +':'+ ${product.id}"></h5>-->
<!--                    <strong class="card-text" th:text="Price + ':'+ ${product.price}"></strong><br>-->
<!--                    <span><a th:href="@{/add/__${product.id}__(action='detail')}"-->
<!--                             class="btn btn-success">Add To Cart</a></span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-8 border bg-light">-->
<!--            <h5 class="card-title" th:text="${product.name}"></h5>-->
<!--            <p class="card-text" th:text="${product.description}"></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<script src="/static/jquery/jquery-3.5.1.min.js"></script>-->
<!--<script src="/static/jquery/popper.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <style>
        .wrap
        {
            margin: 0 auto;
            width:1000px;
            height:300px;
            display: table;

        }
        .content {
            display: table-cell;
            vertical-align: middle;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<div style="text-align: center">
    <a href="/shop" style="font-weight: bold; font-size: 25px; text-decoration: none">Back to shop</a><br>
    <h1><span th:text="${product.name}"></span></h1>
</div>
<th:block th:if="${message}">
    <h3> <p th:text="${message}"></p></h3>
</th:block>
<table class="wrap">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
    </tr>
    <tr>
        <td th:text="${product.name}" class="content"></td>
        <td class="content">
            <img th:src="${product.image}">
        </td>
        <td th:text="${product.description}" class="content"></td>
        <td th:text="${product.price}" class="content"></td>
    </tr>
</table>
<div style="text-align: center">
    <a th:href="@{/shop/add/__${product.id}__(action='')}" style="text-decoration: none">Add this product to your cart</a>
</div>
</body>
</html>
