<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale =1, shrink-to-fit=no" >
    <title>Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"></head>
<body>
<p>
<h1 style="text-align: center"> <a href="/shopping-cart">Your cart</a></h1>
</p>
<div class="container bg-primary">
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product:${productList}">
                <td th:text="${product.name}"></td>
                <td>
                    <a th:href="@{/shop/detail/{id}(id=${product.id})}">
                        <img th:src="@{${product.image}}" style="width: 100px" height="100px">
                    </a>
                </td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <a class="btn btn-success" th:href="@{/shop/add/__${product.id}__}" role="button">Add to Cart</a>
                </td>

            </tr>
            </tbody>
            <div class="card sticky-top border-8" th:unless="${historyProduct==null}">

                <img th:src="${historyProduct.image}" class="card-img-top" alt="">
                <div class="card-body">
                    <h4 class="card-title" th:text="${historyProduct.name}">Title</h4>
                    <p class="card-text" th:text="${historyProduct.price}">Title</p>
                </div>
            </div>
        </table>
    </div>
</div>
</div>

</body>
</html>