<div id="product">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="breadcrumb clearfix">

          </div>
          <script type="text/javascript">
            $(".link-site-more").hover(function () {
              $(this).find(".s-c-n").show();
            }, function () {
              $(this).find(".s-c-n").hide();
            });
          </script>

          <div class="product-detail clearfix relative ng-scope" ng-controller="productController"
               ng-init="initController(46475)">
            <div class="clearfix">
              <div class="row" *ngIf="food">
                <div class="col-md-6 col-sm-6 col-xs-12 product-image clearfix">
                  <div class="sp-loading" style="display: none;"><br>LOADING
                    IMAGES
                  </div>
                  <div class="sp-wrap sp-non-touch" style="display: inline-block;">
                    <div class="sp-large"><a  ng-repeat="item in ProductImages"
                                              class="ng-scope .sp-current-big">
                      <img src="{{food.image}}"></a></div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 clearfix">
                  <h1 class="name m-b-5 ng-binding"> {{food.foodName}}</h1>
                  <div class="product_price p-b-10 ng-scope" ng-if="IsTrackingInventory==false||AllowPurchaseWhenSoldOut==true ||
                  (IsTrackingInventory&amp;&amp;AllowPurchaseWhenSoldOut==false&amp;&amp;Quantity>0)">
                    <div ng-if="IsPromotion==false" class="ng-scope">
                      <ins class="m-b-5 ng-binding">{{food.foodPrice | currency :'VND'}}</ins>
                    </div>
                  </div>
                  <div class="product-code p-b-10 ng-binding"><b>Địa Chỉ: {{food.address}}</b></div>
                  <div class="des p-b-10 ng-binding" ng-bind-html="Summary|unsafe"><p><span
                    style="color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:10.5pt"> {{food.description_food}}</span>
                  </p>
                  </div>
                  <div class="social">

                  </div>
                  <div id="add-item-form" class="variants clearfix m-b-10 p-b-10">
                    <div class="select" ng-if="ProductOptions.length>0">

                    </div>
                    <div class="clearfix product_quantity m-t-10 m-b-20">
                      <label class="label_quantity m-b-5">Số lượng</label>
                      <button class="button btn_minus b-r-0" (click)="decrementQuantity()">-</button>
                      <input name="quantity" class="quantity text-center ng-pristine ng-untouched ng-valid ng-valid-min"
                             min="1" value="{{quantity}}" type="number" ng-model="InputQuantity" ng-init="InputQuantity=1">
                      <button class="button btn_plus b-l-0" (click)="incrementQuantity()">+</button>
                    </div>
                    <!-- ngIf: IsTrackingInventory==false||AllowPurchaseWhenSoldOut==true || (IsTrackingInventory&&AllowPurchaseWhenSoldOut==false&&Quantity>0) -->
                    <div class="button clearfix ng-scope"
                         ng-if="IsTrackingInventory==false||AllowPurchaseWhenSoldOut==true || (IsTrackingInventory&amp;&amp;AllowPurchaseWhenSoldOut==false&amp;&amp;Quantity>0)">
                      <div class="col-lg-6 col-sm-6 col-xs-6 col-xxs-12 p-l-0 p-r-xxs-0 m-b-10">
<!--                        <button id="add-to-cart" (click)="addToCard(food,quantity)"><i-->
<!--                          class="glyphicon glyphicon-shopping-cart"></i> Thêm giỏ hàng-->
<!--                        </button>-->
                      </div>
                      <div class="col-lg-6 col-sm-6 col-xs-6 col-xxs-12 p-r-0 p-l-xxs-0 m-b-10">
                        <button id="buy-now" ng-click="addToCardBuy()"><i class="glyphicon glyphicon-ok"></i> Mua ngay
                        </button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--End-->
            <div class="modal fade" id="modalMyCart" tabindex="-1" role="dialog" aria-labelledby="modalMyCartLabel"
                 aria-hidden="true">
              <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      ×
                    </button>
                    <h4 class="modal-title ng-binding" id="modalMyCartLabel">Bạn có sản phẩm trong giỏ hàng.</h4>
                  </div>
                  <div class="modal-body">
                    <table class="table" style="width:100%;">
                      <thead>
                      <tr>
                        <th></th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá tiền</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      <!-- ngRepeat: item in OrderDetails -->
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="total-price-modal">
                          Tổng cộng : <span class="item-total ng-binding">₫</span>
                        </div>
                      </div>
                    </div>
                    <div class="row margin-top-10">
                      <div class="col-lg-6">
                        <div class="comeback text-left">
                          <a href="/san-pham.html">
                            <i class="fa fa-chevron-circle-left "></i> Thanh Toán
                          </a>
                        </div>
                      </div>
                      <div class="col-lg-6 text-right">
                        <div class="buttons btn-modal-cart">
                          <a class="btn btn-default" href="/thanh-toan.html">
                            Đặt hàng
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="modalCallMe" tabindex="-1" role="dialog" aria-labelledby="modalCallMeLabel"
                 aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <h2>Cám ơn Qúy Khách đã liên hệ đặt hàng</h2>
                    <p>Shop sẽ gọi lại để tư vấn cho Quý khách hàng trong thời gian sớm nhất</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                      OK
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">

          <script type="text/javascript">
            $(document).ready(function () {
              $('.menu-product li.child .open-close').on('click', function () {
                $(this).removeAttr('href');
                var element = $(this).parent('li');
                if (element.hasClass('open')) {
                  element.removeClass('open');
                  element.children('ul').slideUp();
                } else {
                  element.addClass('open');
                  element.children('ul').slideDown();
                }
              });
            });
          </script>
          <!--                    <script src="/app/services/moduleServices.js"></script>-->
          <!--                    <script src="/app/controllers/moduleController.js"></script>-->
          <!--Begin-->
          <div class="box-sale-policy ng-scope" ng-controller="moduleController"
               ng-init="initSalePolicyController('Shop')">
            <h3><span>Chính sách bán hàng</span></h3>
            <div class="sale-policy-block">
              <ul>
                <li>Giao hàng NỘI THÀNH</li>
                <li>Thanh toán khi nhận hàng</li>
                <li>Chất lượng đảm bảo</li>
                <li>Miễn phí vận chuyển:<span>Đơn hàng từ 3 món trở lên</span></li>
              </ul>
            </div>
            <div class="buy-guide">
              <h3>Hướng Dẫn Mua Hàng</h3>
              <ul>
                <li>
                  Mua hàng trực tiếp tại website
                  <b class="ng-binding"> http://www.fasd-food_Dong</b>
                </li>
                <li>
                  Gọi điện thoại <strong class="ng-binding">
                  0905 27 65 89
                </strong> để mua hàng
                </li>
                <li>
                  Mua tại Trung tâm CSKH:<br>
                  <strong class="ng-binding"></strong>
                </li>
                <li>
                  Mua sỉ/buôn xin gọi <strong class="ng-binding">
                  0905 27 65 89
                </strong> để được
                  hỗ trợ.
                </li>
              </ul>
            </div>
          </div>
          <!--End-->
          <script type="text/javascript">
            window.Shop = {
              "Name": "CÔNG TY TNHH PHÁT TRIỂN CÔNG NGHỆ RUNTIME",
              "Email": "runecom04@runtime.vn",
              "Phone": "(08) 66 85 85 38",
              "Logo": "/Uploads/shop2005/images/logo.png",
              "Fax": "(08) 66 85 85 38",
              "Website": "http://www.runtime.vn",
              "Hotline": "0908 77 00 95",
              "Address": "5/12A Quang Trung, P.14, Q.Gò Vấp, Tp.HCM",
              "Fanpage": "https://www.facebook.com/runtime.vn",
              "Google": null,
              "Facebook": null,
              "Youtube": null,
              "Twitter": null,
              "IsBanner": false,
              "IsFixed": false,
              "BannerImage": null
            };
          </script>
        </div>
      </div>
    </div>
  </div>
</div>

