<div class="container-fluid">
  <div class="row ">
    <table class="table table-striped" style="width: 100%">
      <thead>
      <tr style="background-color: dodgerblue;text-align: center; color: white; text-align: center">
        <th  style="width: 3% ">Id Feedback</th>
        <th style="width: 7.5% ">Feedback Code</th>
        <th style="width: 7.5% ">Feedback Creator</th>
        <th style="width: 7.5% ">Feedback Email</th>
        <th style="width: 7.5% ">Feedback content</th>
        <th style="width: 7.5% ">Feedback Date</th>
        <th style="width: 7.5% ">Feedback Image</th>
      </tr>
      </thead>
      <tbody style="text-align: center">
      <tr *ngFor="let c of feedbacks">
        <td>{{c.feedbackId}}</td>
        <td>{{c.feedbackCode}}</td>
        <td>{{c.feedbackCreator}}</td>
        <td>{{c.feedbackEmail}}</td>
        <td>{{c.feedbackContent}}</td>
        <td>{{c.feedbackDate | date: 'dd/MM/yyyy'}}</td>

        <td><img *ngIf="c?.feedbackImage ; else elseBlock"
                 [src]="c?.feedbackImage" class="img-fluid" style="width: 86px; height: 86px">
          <ng-template #elseBlock>
            <img src="assets/img_feedback/anh02'" class="img-fluid">
          </ng-template>
        </td>      </tr>

      </tbody>
    </table>
  </div>
</div>
