<div class="container">
  <div class="row">
    <div class="card border-primary">
      <div class="card-body">
        <h4 class="card-title">Customer List</h4>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">IdCustomer</th>
            <th scope="col">IdTypeCustomer</th>
            <th scope="col">Name</th>
            <th scope="col">DateOfBirth</th>
            <th scope="col">IdentityCard</th>
            <th scope="col">Phone</th>
            <th scope="col">Mail</th>
            <th scope="col">Address</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of customers">
            <th scope="row">{{item.idCustomer}}</th>
            <td>{{item.idTypeCustomer}}</td>
            <td>{{item.name}}</td>
            <td>{{item.dateOfBirth}}</td>
            <td>{{item.identityCard}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.mail}}</td>
            <td>{{item.address}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
