<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>$Title$</title>
  </head>
  <body>
  <h3>Customers</h3>
  <div class="notify">
  <div>
    <div th:if="${success}">
      <span th:text="${success}"></span>
    </div>
  </div>
  <p>
    <a th:href="@{/customer/create}">
      Add new customer
    </a>
  </p>
  <table id="customers">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row: ${customers}">
    <td th:text="${row.name}"></td>
    <td th:text="${row.email}"></td>
    <td th:text="${row.address}"></td>
   <td><a th:href="@{/customer/{id}/edit(id=${row.id})}">edit</a></td>
      <td><a th:href="@{/customer/{id}/delete(id=${row.id})}">delete</a> </td>
    <td><a th:href="@{/customer/{id}/view(id=${row.id})}">view</a></td>

    </tr>
    </tbody>

  </table>
  </div>
  </body>
</html>
