<div class="main" style="margin-top:0; background-color: #38d2c7">
  <div class="container">
    <div class="row ">
      <div class="col-md-12  ">
        <div class="product_home ">
          <div class="clearfix">

              <select class="form-control mt-3" [(ngModel)]="sortPrice" style="width: 200px; font-size: 17px; ">
                <option selected value="" style="font-weight: bold">---Sắp xếp theo---</option>
                <option value="foodPrice" style="font-weight: bold">Giá</option>
                <option value="dateCreate" style="font-weight: bold">Món ăn mới nhất</option>
              </select>


          </div>
          <!--list-->
          <div class="clearfix" style="margin-top: 20px" >
            <div class="product-list justify-content-center">
              <div *ngFor="let f of foodList| sort: [sortPrice, sortDateCreate]" class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-wrapper zoomIn wow"
                   style="visibility: visible; animation-name: zoomIn;">
                <div class="product-block product-resize fixheight" style="height: 280px;" style="background-color: #1d2129">
                  <div class="product-image image-resize" style="height: 160px;">
<!--                    <div class="sold-out" style="color: white">{{f.statusFood.statusFoodName}}</div>-->
                    <div >
                      <a [routerLink]="['/detail/',f.foodId]">
                        <img  class="first-img" [src]="f.image" alt="">
                      </a>
                    </div>

                  </div>
                  <div class="product-info text-center m-t-xxs-20">
                    <h2 class="pro-name" style="font-size: 22px;">
                      <a><b style="color: #d85909">{{f.foodName | titlecase}}</b></a>
                    </h2>
<!--                    <h3 class="pro-name" style="color: #3a3a3a; font-size: 14px;">-->
<!--                      {{f.address | titlecase}}-->
<!--                    </h3>-->
                    <div class="pro-prices">
                      <span class="pro-price">{{f.foodPrice | currency:'VND':true}}</span>
                    </div>
<!--                    <button class="btn btn-success cart_link" style="margin-bottom: 5px">-->
<!--                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--                           class="bi bi-cart4" viewBox="0 0 16 16">-->
<!--                        <path-->
<!--                          d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>-->
<!--                      </svg>-->
<!--                    </button>-->
<!--                    <div class="col-lg-6 col-sm-6 col-xs-6 col-xxs-12 p-l-0 p-r-xxs-0 m-b-10">-->
<!--                      <button id="add-to-cart" (click)="addToCard(food,quantity)"><i-->
<!--                        class="glyphicon glyphicon-shopping-cart"></i> Thêm giỏ hàng-->
<!--                      </button>-->
<!--                    </div>-->

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>



