<!--================Main Header Area =================-->
<header class="main_header_area">
  <div class="top_header_area row m0">
    <div class="container">
      <div class="float-left">
        <a href="tell:+18004567890"><i class="fa fa-phone" aria-hidden="true"></i> + (1800) 456 7890</a>
        <a href="mainto:info@cakebakery.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>
          info@cakebakery.com</a>
      </div>
      <div class="float-right">
        <ul class="h_social list_style">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>

        <ul class="h_search list_style">
          <li class=""><a routerLink="/cart"><i class="lnr lnr-cart"><span style="color: yellow"
                                                                           (click)="resetNumberCart()">{{cart}}</span></i></a>
          </li>
          <li><a class="popup-with-zoom-anim" href="#test-search"><i class="fa fa-search"></i></a></li>
        </ul>

      </div>
    </div>
  </div>
  <div class="main_menu_area">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">
          <img src="assets/img/logo.png" alt="">
          <img src="assets/img/logo-2.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
							<span class="my_toggle_menu">
                            	<span></span>
                            	<span></span>
                            	<span></span>
                            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="dropdown submenu">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                 aria-haspopup="true" aria-expanded="false" routerLink="">Home</a>
            </li>
            <li><a href="cake.html">Our Cakes</a></li>
            <li><a>Menu</a></li>
            <li class="dropdown submenu">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                 aria-haspopup="true" aria-expanded="false">About Us</a>
              <ul class="dropdown-menu">
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="our-team.html">Our Chefs</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav justify-content-end">
            <li class="dropdown submenu">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                 aria-haspopup="true" aria-expanded="false">Pages</a>
              <ul class="dropdown-menu">
                <li><a href="service.html">Services</a></li>
                <li class="dropdown submenu">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                     aria-haspopup="true" aria-expanded="false">Gallery</a>
                  <ul class="dropdown-menu">
                    <li><a href="portfolio.html">- Gallery Classic</a></li>
                    <li><a href="portfolio-full-width.html">- Gallery Full width</a></li>
                  </ul>
                </li>
                <li><a href="faq.html">Faq</a></li>
                <li><a href="what-we-make.html">What we make</a></li>
                <li><a href="special.html">Special Recipe</a></li>
                <li><a href="404.html">404 page</a></li>
                <li><a href="comming-soon.html">Coming Soon page</a></li>
              </ul>
            </li>
            <li class="dropdown submenu">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                 aria-haspopup="true" aria-expanded="false">Blog</a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">Blog with sidebar</a></li>
                <li><a href="blog-2column.html">Blog 2 column</a></li>
                <li><a href="single-blog.html">Blog details</a></li>
              </ul>
            </li>
            <li class="dropdown submenu active">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                 aria-haspopup="true" aria-expanded="false">Shop</a>
              <ul class="dropdown-menu">
                <li><a href="shop.html">Main shop</a></li>
                <li><a href="product-details.html">Product Details</a></li>
                <li><a href="cart.html">Cart Page</a></li>
                <li><a href="checkout.html">Checkout Page</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!--================End Main Header Area =================-->

<!--================End Main Header Area =================-->
<section class="banner_area">
  <div class="container">
    <div class="banner_text">
      <h3>Shop</h3>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="shop.html">Shop</a></li>
      </ul>
    </div>
  </div>
</section>
<!--================End Main Header Area =================-->

<!--================Product Area =================-->
<section class="product_area p_100">
  <div class="container">
    <div class="row product_inner_row">
      <div class="col-lg-9">
        <div class="row m0 product_task_bar">
          <div class="product_task_inner">
            <div class="float-left">
              <a class="active" href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a>
              <span>Showing 1 - 10 of 55 results</span>
            </div>
            <div class="float-right">
              <h4 (click)="getSortAtoZ()">Sắp xếp :</h4>
              <!--              <select class="short">-->

              <!--                <option>Tất cả</option>-->
              <!--                <option><span (click)="getSortAtoZ()">>Tên A-Z</span></option>-->
              <!--                <option value="2">Sắp xếp theo số lượng đặt hang</option>-->

              <!--              </select>-->


            </div>

          </div>
        </div>
        <div class="row product_item_inner">
          <div class="col-lg-4 col-md-4 col-6"
               *ngFor="let objFoodAll of listFood | paginate:{itemsPerPage:12,  currentPage:page,totalItems:totalLength} | filter:searchFood">
            <div class="cake_feature_item" *ngIf="listFood != null else blockSearch">
              <div class="cake_img" routerLink="/food/detail/{{objFoodAll.fadId}}">
                <img [src]=objFoodAll.fadImage alt="" width="80px"
                     height="100px">
              </div>
              <div class="cake_text">
                <h4>{{objFoodAll.fadPrice}}</h4>
                <h3>{{objFoodAll.fadName}}</h3>
                <a class="pest_btn" (click)="addToCart(objFoodAll) ">Add to cart</a>
              </div>
            </div>
          </div>
        </div>

        <ng-template #blockSearch>
          <span>ko có dữ liệu</span>
        </ng-template>

        <div class="product_pagination">

          <!--          <div class="left_btn">-->
          <!--            <a href="#"><i class="lnr lnr-arrow-left"></i> New posts</a>-->
          <!--          </div>-->
          <!--          <div class="middle_list">-->
          <!--            <nav aria-label="Page navigation example">-->
          <!--              <ul class="pagination">-->
          <!--                <li class="page-item"><a class="page-link" href="#">1</a></li>-->
          <!--                <li class="page-item active"><a class="page-link" href="#">2</a></li>-->
          <!--                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
          <!--                <li class="page-item"><a class="page-link" href="#">...</a></li>-->
          <!--                <li class="page-item"><a class="page-link" href="#">12</a></li>-->
          <!--              </ul>-->
          <!--            </nav>-->
          <!--          </div>-->
          <!--          <div class="right_btn"><a href="#">Older posts <i class="lnr lnr-arrow-right"></i></a></div>-->
          <div style="margin-left: 250px">
            <pagination-controls (pageChange)="page = $event "
                                 style=""></pagination-controls>
          </div>

        </div>
      </div>
      <div class="col-lg-3">
        <div class="product_left_sidebar">
          <aside class="left_sidebar search_widget">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter Search Keywords" name="searchFood"
                     [(ngModel)]="searchFood">
              <div class="input-group-append">
                <button class="btn" type="button"><i class="icon icon-Search"></i></button>
              </div>
            </div>
          </aside>
          <aside class="left_sidebar p_catgories_widget">
            <div class="p_w_title">
              <h3>Product Categories</h3>
            </div>

            <ul class="list_style" *ngFor="let objCategory of category">
              <li><a (click)="getAllFoodFindCategory(objCategory.categoryId)">{{objCategory.categoryName}}</a></li>
            </ul>

          </aside>
          <aside class="left_sidebar p_price_widget">
            <div class="p_w_title">
              <h3>Filter By Price</h3>
            </div>
            <div class="filter_price">
              <div id="slider-range"></div>
              <label for="amount">Price range:</label>
              <input type="text" id="amount" readonly/>
              <a href="#">Filter</a>
            </div>
          </aside>
          <aside class="left_sidebar p_sale_widget">
            <div class="p_w_title">
              <h3>Top New Products</h3>
            </div>
            <div class="media " *ngFor="let objTrend of listFoodTrend">
              <div class="d-flex">
                <img [src]=objTrend.fadImage alt="" width="100px" height="auto">
              </div>
              <div class="media-body">
                <a href="#"><h4>{{objTrend.fadName}}</h4></a>
                <ul class="list_style">
                  <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                  <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                </ul>
                <h5>{{objTrend.fadPrice + 'VND'}}</h5>
              </div>
            </div>

          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Product Area =================-->

<!--================Newsletter Area =================-->
<section class="newsletter_area">
  <div class="container">
    <div class="row newsletter_inner">
      <div class="col-lg-6">
        <div class="news_left_text">
          <h4>Join our Newsletter list to get all the latest offers, discounts and other benefits</h4>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="newsletter_form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter your email address">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Subscribe Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Newsletter Area =================-->

<!--================Footer Area =================-->
<footer class="footer_area">
  <div class="footer_widgets">
    <div class="container">
      <div class="row footer_wd_inner">
        <div class="col-lg-3 col-6">
          <aside class="f_widget f_about_widget">
            <img src="assets/img/footer-logo.png" alt="">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui bland itiis praesentium
              voluptatum deleniti atque corrupti.</p>
            <ul class="nav">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </aside>
        </div>
        <div class="col-lg-3 col-6">
          <aside class="f_widget f_link_widget">
            <div class="f_title">
              <h3>Quick links</h3>
            </div>
            <ul class="list_style">
              <li><a href="#">Your Account</a></li>
              <li><a href="#">View Order</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms & Conditionis</a></li>
            </ul>
          </aside>
        </div>
        <div class="col-lg-3 col-6">
          <aside class="f_widget f_link_widget">
            <div class="f_title">
              <h3>Work Times</h3>
            </div>
            <ul class="list_style">
              <li><a href="#">Mon. : Fri.: 8 am - 8 pm</a></li>
              <li><a href="#">Sat. : 9am - 4pm</a></li>
              <li><a href="#">Sun. : Closed</a></li>
            </ul>
          </aside>
        </div>
        <div class="col-lg-3 col-6">
          <aside class="f_widget f_contact_widget">
            <div class="f_title">
              <h3>Contact Info</h3>
            </div>
            <h4>(1800) 574 9687</h4>
            <p>Justshiop Store <br/>256, baker Street,, New Youk, 5245</p>
            <h5>cakebakery@contact.co.in</h5>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_copyright">
    <div class="container">
      <div class="copyright_inner">
        <div class="float-left">
          <h5><a target="_blank" href="https://www.templatespoint.net">Templates Point</a></h5>
        </div>
        <div class="float-right">
          <a href="#">Purchase Now</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--================End Footer Area =================-->


<!--================Search Box Area =================-->
<div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
  <div class="search_box_inner">
    <h3>Search</h3>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="icon icon-Search"></i></button>
                    </span>
    </div>
  </div>
</div>
