
<table class="table table-success table-striped">
  <thead>
  <tr>
    <th>STT</th>
    <th>Id Benh An</th>
    <th>Id Benh Nhan</th>
    <th (click)="sort('tenBN')">Ten Benh Nhan&nbsp;<i class="fa fa-sort"></i></th>
    <th>Ngay nhap vien</th>
    <th>Ngay ra vien</th>
    <th>Ly do</th>
    <th>Phuong phap</th>
    <th>Bac Si</th>
    <!--              <th>Detail</th>-->
  </tr>
  </thead>
  <tbody>
  <!--            Event binding gửi dữ liệu sang ts cái thằng mà chúng ta muốn hiển thị.-->
  <tr *ngFor="let item of benhAnList | orderBy:key:reverse | paginate:{itemsPerPage:3, currentPage:p}; let i = index" (click)="showDetail(item)">
    <td>{{i+1}}</td>
    <td>{{item.idBenhAn}}</td>
    <td>{{item.idBenhNhan}}</td>
    <!--              <td [ngClass] = 'item.idTypeCustomer == "VIP" ? "txt-color ,  txt-font-weight": ""'>-->
    <td>{{item.tenBN}}</td>
    <td>{{item.ngayNhapVien}}</td>
    <td>{{item.ngayRavien}}</td>
    <!--              <td>{{item.identityCard}}</td>-->
    <td>{{item.LyDo}}</td>
    <td>{{item.PhuongPhap}}</td>
    <td>{{item.BacSi}}</td>
    <!--              <td [ngSwitch] = "item.gender">-->
    <!--                <span *ngSwitchCase = "0">Female</span>-->
    <!--                <span *ngSwitchCase = "1">Male</span>-->
    <!--                <span *ngSwitchDefault>LGBT</span>-->
    <!--              </td>-->
    <!--              <td [ngStyle]="{-->
    <!--            'color':item.point == 0 ? 'red' : '',-->
    <!--            'font-weight': item.point == 0 ? 'bold' : ''}">-->
    <!--                {{item.point}}-->
    <!--              </td>-->
    <!--              <td>-->
    <!--                <span *ngIf="item.point >=75; else elseBlock">Pass</span>-->

    <!--                <ng-template #elseBlock>-->
    <!--                  <span>Fail</span>-->
    <!--                </ng-template>-->
    <!--              </td>-->
    <!--              Tìm cách chuyển trang bằng file TS-->
    <!--              <td [routerLink]="['/customer/detail',item.id]">Detail</td>-->
    <!--              => /student/detail/Nguyen Van A-->
  </tr>
  </tbody>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>
