<nav class="navbar navbar-expand-lg position-fixed fh5co-nav" style="background-color: black">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/cut_text_logo3.jpg" height="46" width="235"/>
  </a>
  <!--admin-->
  <div class="ml-auto" id="navbarText">
    <a class="navbar-text lec-gold lec-gold-li" *ngIf="!this.username">
      <span [routerLink]="['/login']">Đăng nhập</span>
    </a>

    <div class="navbar-text lec-gold lec-gold-li" *ngIf="this.username">
      <span>Chào {{this.username}}</span>
      <div class="dropdown-menu" style="color:#e0a800">
        <span class="dropdown-item" data-toggle="modal" data-target="#exampleModal"> Đăng xuất </span>
        <span class="dropdown-item" routerLink="#">Đổi mật khẩu</span>
<!--        <span *ngIf="role.indexOf('ROLE_USER') != -1" class="dropdown-item" [routerLink]="['teacher', 'update']">Thông tin cá nhân</span>-->
      </div>
    </div>
    <a class="navbar-text lec-gold lec-gold-li px-2" title="Menu" routerLink="/order/menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </a>
  </div>
</nav>

<!--<li *ngIf="this.username" class="nav-item dropdown" >-->
<!--  <a class="nav-link dropdown-toggle" data-toggle="dropdown"-->
<!--     aria-haspopup="true" aria-expanded="false">-->
<!--    Chào {{this.username}}-->
<!--  </a>-->
<!--  <div class="dropdown-menu" >-->
<!--    <a class="dropdown-item" data-toggle="modal"  data-target="#exampleModal" > Đăng xuất </a>-->
<!--    <a  class="dropdown-item" [routerLink]="['account','editPass', this.username]">Đổi mật khẩu</a>-->
<!--    <a *ngIf="role.indexOf('ROLE_USER') != -1" class="dropdown-item" [routerLink]="['teacher', 'update']" >Thông tin cá nhân</a>-->
<!--  </div>-->
<!--</li>-->


<!--  <div class="ml-auto" id="navbarText">-->
<!--    <div *ngIf="!this.username" >-->
<!--      <a [routerLink]="['/login']"  class="navbar-text lec-gold lec-gold-li">Đăng nhập</a>-->
<!--    </div>-->
<!--    <div *ngIf="this.username" class="nav-item dropdown" >-->
<!--      <a class="nav-link dropdown-toggle" data-toggle="dropdown"-->
<!--         aria-haspopup="true" aria-expanded="false">-->
<!--        Chào {{this.username}}-->
<!--      </a>-->
<!--      <div class="dropdown-menu" >-->
<!--        <a class="dropdown-item" data-toggle="modal"  data-target="#exampleModal" > Đăng xuất </a>-->
<!--        <a  class="dropdown-item" [routerLink]="['account','editPass', this.username]">Đổi mật khẩu</a>-->
<!--        <a *ngIf="role.indexOf('ROLE_USER') != -1" class="dropdown-item" [routerLink]="['teacher', 'update']" >Thông tin cá nhân</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <a class="navbar-text lec-gold lec-gold-li px-2" title="Menu">-->
<!--      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"-->
<!--           viewBox="0 0 16 16">-->
<!--        <path fill-rule="evenodd"-->
<!--              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>-->
<!--      </svg>-->
<!--    </a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"-->
<!--            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--  </div>-->
<!--</nav>-->


<!--header navbar-->
<!--<nav class="navbar navbar-expand-sm position-fixed fh5co-nav" style="background-color: #898383">-->
<!--  <a class="navbar-brand lec-gold lec-gold-shop-name " href="#">-->
<!--    <img src="assets/img/CO421G1_style6.jpg" alt="" height="46" width="235">-->
<!--    &lt;!&ndash;        C0421G1 COFFEE&ndash;&gt;-->
<!--  </a>-->
<!--  &lt;!&ndash; Right &ndash;&gt;-->
<!--  <ul class="navbar-nav ml-auto">-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link lec-gold lec-gold-li">Đăng nhập</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link lec-gold lec-gold-li" data-toggle="tooltip" data-placement="top" title="Menu">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-menu-button"-->
<!--             viewBox="0 0 16 16"-->
<!--             style="color: #e3cc6f;">-->
<!--          <path-->
<!--            d="M0 1.5A1.5 1.5 0 0 1 1.5 0h8A1.5 1.5 0 0 1 11 1.5v2A1.5 1.5 0 0 1 9.5 5h-8A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-8z"/>-->
<!--          <path-->
<!--            d="m7.823 2.823-.396-.396A.25.25 0 0 1 7.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>-->
<!--        </svg>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
