<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit category</title>
</head>
<body>
<h1>Edit category</h1>
<p>
    <a href="/category/list">category list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/category/edit}" th:object="${category}" method="post">
    <input th:type="hidden" name="id" th:field="*{categoryId}">
    <p>Name: <input type="text" th:field="*{categoryName}"></p>
    <input type="submit" value="Update">
</form>
</body>
</html>