<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
<a href="/create">Create new blog</a><br>
<a href="/list">Blog list</a>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<h1>Result</h1>
<table border="1" style="margin: 0 auto">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Footer</th>
        <th>Create</th>
        <th>Category</th>
    </tr>
    <th:block th:each="blog : ${result}">
        <tr>
            <td th:text="${blog.blogId}"></td>
            <td th:text="${blog.blogTitle}"></td>
            <td th:text="${blog.blogFooter}"></td>
            <td th:text="${blog.createDate}"></td>
            <td th:text="${blog.category}"></td>

        </tr>
    </th:block>
</table>
</body>
</html>