<div style="margin: 10px">
  <button class="btn btn-dark rounded-pill wow fadeInLeft" [routerLink]="['/car']" style="float: left" routerLinkActive="active"><< Back to list</button>
</div><br><br><br><br>
<div class="container wow fadeIn wrap">
  <h2>Xóa thằng này không</h2>
  <table class="table table-hover table-bordered" style="margin: 0 auto; border: solid black 3px">
    <thead>
    <tr>
      <td>Id</td>
      <td><h4>{{carDelete.id}}</h4></td>
    </tr>
    <tr>
      <td>Ten nha xe</td>
      <td><h4>{{carDelete.nameCar}}</h4></td>
    </tr>
    <tr>
      <td>Bien so</td>
      <td><h4>{{carDelete.numberCar}}</h4></td>
    </tr>

    <tr>
      <td colspan="2"><button type="submit" class="btn btn-danger" (click)="deleteCar(id)">Delete</button>
      </td>
    </tr>
    </thead>
  </table>
</div>
